<section id="About_Page_links">
	<div class="links_wrapper">
		<ul class="about_links">
			<li>
				<a href="#" title="Our Mission Page">Our Mission</a>
			</li>
			<li>
				<a href="#" title="Performance Shoe Page">Performance Shoe</a>
			</li>
			<li>
				<a href="#" title="Timeline Page">Timeline</a>
			</li>
		</ul>
	</div>	
</section>